body {font-family: "Lato", sans-serif}
.mySlides {display: none}
.she{
	margin-top:46px;
}
.they{
	max-width:2000px;
	margin-top:46px;
}
.he{
	width:100%;
}
.fe{
	width:60%;
}
.the{
	 max-width:800px;
}
.may{
	 margin:0 -16px;
}
.city{
	width:100%;
}
.sure{
	width:30px;
}
.de{
	margin:0 -16px 8px -16px;
}